<div class="row border-bottom" ng-controller="TopBarCtrl" ng-init="init()">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0; ">
            <div class="navbar-header" style="min-width: 400px;">
                <span minimaliza-sidebar></span>
                <form role="search" class="navbar-form-custom" >
    
    
                    <div ng-if="loginInfo.currentClientID" class="input-group form-group m-b" >
    
                        <span class="input-group-addon gray no-borders" style="line-height:30px;">客户编号: &nbsp;&nbsp;{{loginInfo.currentClientID}}</span>
    
                        <input type="text" class="form-control" style="padding-right:20px; line-height:30px;"  readonly />
    
                        <span class="input-group-btn btn-group-sm" id="link">
                            <a class="btn btn-default active" name="Client" href="/#!/index/Client/{{loginInfo.currentClientID}}"> <span class="nav-label">客户档案</span></a>
                            <!-- <a class="btn btn-default" name="Employee" href="/#!/index/Employee/{{loginInfo.currentClientID}}"> <span class="nav-label">员工档案</span></a> -->
                            <a class="btn btn-default" name="Creditor" href="/#!/index/Creditor/CreditorInquiry/{{loginInfo.currentClientID}}"> <span class="nav-label">债权人档案</span></a>  
                            <a class="btn btn-default" name="VotingEventSetup" href="/#!/index/VotingEventSetup/{{loginInfo.currentClientID}}"> <span class="nav-label">投票活动设置</span></a>
                            <a class="btn btn-default" name="VotingReplyEntry" href="/#!/index/VotingReplyEntry/{{loginInfo.currentClientID}}"> <span class="nav-label">投票活动答复</span></a>
                        </span>
                    </div>
    
    
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="{{host}}/HttpHandler/LogoutHandler.ashx">
                        <i class="fa fa-sign-out"></i>登出
                    </a>
                </li>
            </ul>
        </nav>
    </div>