 

<div class="ng-view" > 
     
        <div class="wrapper wrapper-content" ng-controller="VotingAcknowledgementGenerationCtrl" >
             
            <form name="votingCreditorGenerationForm" novalidate autocomplete="off" class="form-horizontal" ng-model-options="{
                'updateOn': 'default blur',
                'debounce': { 'default': 0, 'blur': 0 }
              }" >
                
    
                <div class="row">
                    <div class="col-lg-11 clearfix animated fadeInRight"  ng-show="mode==0" >
    
                        <div class="ibox">
    
                            <div class="ibox-title">
                                <h5>债权人活动通知信</h5>
    
                            </div>
    
    
                            <div class="ibox-content">
    
                                <div class="row">
                                    <div class="col-md-6">
    
                                        <div class="form-group" ng-class="{'has-error': votingCreditorGenerationForm.clientID.$invalid && votingCreditorGenerationForm.$submitted}">
                                            <label class="col-md-4 control-label">客户编号</label>
    
                                            <div class="col-md-8">
                                                <ui-select ng-model="votingCreditorGenerationObj.ClientID"
                                                    theme="bootstrap"
                                                    required
                                                    name="clientID" 
                                                    on-select="clientIDChange()"
                                                    reset-search-input="true"
                                                    title="请选择客户编号">
                                                    <ui-select-match placeholder="请输入客户编号">{{$select.selected}}</ui-select-match>
                                                    <ui-select-choices repeat="clientid in clientid"
                                                                       refresh="refreshClientID($select.search)"
                                                                       refresh-delay="0">
                                                        <div ng-bind-html="clientid | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <p class="help-block" ng-show="votingCreditorGenerationForm.clientID.$invalid && votingCreditorGenerationForm.$submitted">请输入客户编号.</p>
                                            </div>
    
                                        </div>
    
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-md-6">
    
                                        <div class="form-group" ng-class="{'has-error':votingCreditorGenerationForm.eventID.$invalid && votingCreditorGenerationForm.$submitted}">
                                            <label class="col-md-4 control-label">活动编号</label>
    
                                            <div class="col-md-8">
                                                <ui-select ng-model="votingCreditorGenerationObj.EventID"
                                                    theme="bootstrap" 
                                                    required
                                                    name="eventID" 
                                                    reset-search-input="true"
                                                    title="请选择活动编号">
                                                    <ui-select-match placeholder="请输入活动编号">{{$select.selected}}</ui-select-match>
                                                    <ui-select-choices repeat="eventid in eventids"
                                                                       refresh="refreshEventID($select.search)"
                                                                       refresh-delay="0">
                                                        <div ng-bind-html="eventid | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <p class="help-block" ng-show="votingCreditorGenerationForm.eventID.$invalid && votingCreditorGenerationForm.$submitted">请输入活动编号.</p>
                                            </div>
    
                                        </div>
    
                                    </div>
    
                                    <div class="col-md-6">
                                        <a class="btn btn-default pull-right" ng-if="votingCreditorGenerationObj.ClientID" ng-click="changeMode(1);"><i class="fa fa-edit"></i>&nbsp;&nbsp;编辑活动通知信</a>
                                        
                                    </div>
                                </div>
    
                            </div>
                        </div>
    
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>投票活动债权人名单</h5>
                            </div>
    
                            <div class="ibox-content">
                                
                               <div class="table-responsive">
                                      
                                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-striped table-bordered table-hover dataTables-example"></table>
    
                                </div>
    
                                <div class="clearfix m-t">
                                    <button class="btn btn-primary pull-right"
                                        ng-if="votingCreditorGenerationObj.EventID"
                                        ng-click="generateInvitation()"><i class="fa fa-print"></i>&nbsp;&nbsp;产生活动通知信</button>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    
                    <div class="col-md-10 clearfix animated fadeInRight"  ng-if="mode!=0" >
    
                        <div class="ibox">
    
                            <div class="ibox-title">
                                <h5>编辑活动通知信</h5>
    
                            </div>
    
    
                            <div class="ibox-content">
                                 
                                <div class="row">
                                    <div class="col-md-6">
    
                                        <div class="form-group" >
                                            <label class="col-md-4 control-label">客户编号</label>
    
                                            <div class="col-md-8">
                                                <input class="form-control"  
                                                    disabled
                                                    ng-model="votingCreditorGenerationObj.ClientID"
    
                                                    /> 
                                            </div>
    
                                        </div>
    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
    
                                        <div class="form-group ">
                                            <label class="col-md-4 control-label">上载邀请函</label>
    
                                            <div class="col-md-8"> 
                                                <input type="file" class="form-control" required name="templateFile" 
                                                    fileread="templateFile.DataURL" 
                                                    fileext="templateFile.FileExt" />
                                            </div>
    
                                        </div>
    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
    
                                        <div class="form-group ">
                                            <label class="col-md-4 control-label">查看当前版本</label>
    
                                            <div class="col-md-8">  
                                                <a class="btn btn-success"
                                                    href="{{host}}/HttpHandler/ReportHandler.ashx?action=downloadTemplate&Path={{loginInfo.EventAcknowledgementPath}}&ClientID={{votingCreditorGenerationObj.ClientID}}" target="_blank" ><i class="fa fa-download"></i></a>
                                            </div>
    
                                        </div>
    
                                    </div>
                                </div>
                                
                                <div class="clearfix">
                                    <a class="btn btn-primary pull-right" ng-click="updateTemplate()"><i class="fa fa-print"></i>&nbsp;&nbsp;提交</a>
                                </div>
                            </div>
    
                                <a class="btn btn-success m-t" ng-click="changeMode(0)"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;返回</a>
    
                        </div>
                         
    
                    </div>
    
                </div>
            
            </form>
    
    
        </div>
    
    
    
    
    </div>
    