 
<div class="ng-view" autoscroll="true">
 


    <div class="wrapper wrapper-content animated fadeInRight">

        <form name="onlineVotePageForm" novalidate autocomplete="off" class="form-horizontal clearfix">
            <div class="row">
                <div class="col-lg-12 clearfix">

                    <div class="ibox">

                        <div class="ibox-content">
                            <p>{{message}}</p>
                        </div>
                    </div>
                     
                </div>

            </div>
        </form>



    </div>




</div>
