 

<div class="ng-view"> 

        <div class="wrapper wrapper-content" ng-controller="ResetPasswordCtrl as ctrl">
            <div class="row">
                <div class="col-lg-10 clearfix">
                     <form class="form-horizontal" name="userForm" autocomplete="off" novalidate ng-model-options="{
                        'updateOn': 'default blur',
                        'debounce': { 'default': 0, 'blur': 0 }
                      }">
    
                    <div class="ibox">
    
                        <div class="ibox-title">
                            <h5>重置密码</h5>
    
                        </div>
    
    
                        <div class="ibox-content">
                            
                            
                                <div class="row">
                                    <div class="col-md-6">
    
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.Password.$invalid && userForm.$submitted  }">
                                            <label class="col-md-4 control-label">旧密码</label>
    
                                            <div class="col-md-8">
                                                <input type="password" required class="form-control"  name="Password"  ng-model="sampleObj.Password" />
                                                <p ng-show="userForm.Password.$invalid && userForm.$submitted" class="help-block">Password required.</p>
                                            </div>
    
                                        </div> 
                                    </div> 
                                </div>
                            
                                <div class="row">
                                    <div class="col-md-6">
    
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.NewPassword.$invalid && userForm.$submitted  }">
                                            <label class="col-md-4 control-label">新密码</label>
    
                                            <div class="col-md-8">
                                                <input type="password" required class="form-control"  name="NewPassword"  ng-model="sampleObj.NewPassword" />
                                                <p ng-show="userForm.NewPassword.$invalid && userForm.$submitted" class="help-block">Password required.</p>
                                            </div>
    
                                        </div> 
                                    </div> 
                                </div>
                            
                                <div class="row">
                                    <div class="col-md-6">
    
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.ConfirmPassword.$invalid && userForm.$submitted  }">
                                            <label class="col-md-4 control-label">确认密码</label>
    
                                            <div class="col-md-8">
                                                <input type="password" required class="form-control"  name="ConfirmPassword"  ng-model="sampleObj.ConfirmPassword" />
                                                <p ng-show="userForm.ConfirmPassword.$invalid && userForm.$submitted" class="help-block">Password required.</p>
                                            </div>
    
                                        </div> 
                                    </div> 
                                </div>
                              
    
    
                        </div>
                    </div>
                          
                          
                    <div class="form-group clearfix">
    
                        <div class="col-md-4">
    
                        </div>
                        <div class="col-md-8 text-right">
                             
                            <button class="btn btn-primary" ng-click="resetPassword()"  ><i class="fa fa-save"></i>&nbsp;&nbsp;储存</button>
                        </div>
                    </div>
    
                    </form>
                </div>
    
            </div>
    
    
        </div>
    
    
    
    
    </div>