 

<div class="ng-view" autoscroll="true">
 


        <div class="wrapper wrapper-content animated fadeInRight" ng-controller="VotingFormGenerationCtrl as ctrl">
    
            <form name="votingFormGenerationForm" novalidate autocomplete="off" class="form-horizontal" ng-model-options="{
                'updateOn': 'default blur',
                'debounce': { 'default': 0, 'blur': 0 }
              }">
                <div class="row">
                    <div class="col-lg-11 clearfix">
    
                        <div class="ibox">
    
                            <div class="ibox-title">
                                <h5>产生投票表格</h5>
    
                            </div>
    
    
                            <div class="ibox-content">
    
                                <div class="row">
                                    <div class="col-lg-6">
    
                                        <div class="form-group" ng-class="{'has-error': votingFormGenerationForm.clientID.$invalid && votingFormGenerationForm.$submitted}">
                                            <label class="col-lg-4 control-label">客户编号</label>
                                            <div class="col-lg-8">
                                                <ui-select ng-model="votingFormGenerationObj.ClientID"
                                                    theme="bootstrap"
                                                    required
                                                    name="clientID"
                                                    ng-disabled="ctrl.disabled"
                                                    on-select="clientIDChange()"
                                                    reset-search-input="true"
                                                    title="请选择客户编号">
                                                    <ui-select-match placeholder="请输入客户编号">{{$select.selected}}</ui-select-match>
                                                    <ui-select-choices repeat="clientid in ctrl.clientid"
                                                                       refresh="ctrl.refreshClientID($select.search)"
                                                                       refresh-delay="0">
                                                        <div ng-bind-html="clientid | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <p class="help-block" ng-show="votingFormGenerationForm.clientID.$invalid && votingFormGenerationForm.$submitted">请输入客户编号.</p>
                                            </div>
    
                                        </div>
    
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-lg-6">
    
                                        <div class="form-group" ng-class="{'has-error': votingFormGenerationForm.eventID.$invalid && votingFormGenerationForm.$submitted}">
                                            <label class="col-lg-4 control-label">活动编号</label>
    
                                            <div class="col-lg-8">
                                                <ui-select ng-model="votingFormGenerationObj.EventID"
                                                    theme="bootstrap"
                                                    ng-disabled="ctrl.disabled"
                                                    required
                                                    name="eventID"
                                                    on-select="eventIDChange()"
                                                    reset-search-input="true"
                                                    title="请选择活动编号">
                                                    <ui-select-match placeholder="请输入活动编号">{{$select.selected}}</ui-select-match>
                                                    <ui-select-choices repeat="eventid in ctrl.eventids"
                                                                       refresh="ctrl.refreshEventID($select.search)"
                                                                       refresh-delay="0">
                                                        <div ng-bind-html="eventid | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <p class="help-block" ng-show="votingFormGenerationForm.eventID.$invalid && votingFormGenerationForm.$submitted">请输入活动编号.</p>
                                            </div>
    
                                        </div>
    
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group" ng-class="{'has-error': votingFormGenerationForm.voteMethod.$invalid && votingFormGenerationForm.$submitted}">
                                            <label class="col-lg-4 control-label">投票方法</label>
                                            <div class="col-lg-8">
                                                <ui-select ng-model="votingFormGenerationObj.VoteMethod"
                                                    theme="bootstrap"
                                                    required
                                                    name="voteMethod"
                                                    reset-search-input="true"
                                                    title="请选择投票方法">
                                                    <ui-select-match placeholder="请选择投票方法">{{$select.selected.txt}}</ui-select-match>
                                                    <ui-select-choices repeat="voteMethod.val as voteMethod in selection.voteMethod  | filter: $select.search">
                                                        <div style=" word-wrap:break-word;white-space: normal;" ng-bind-html="voteMethod.txt | highlight: $select.search"></div>
                                                    </ui-select-choices> 
                                                </ui-select>
                                                <p class="help-block" ng-show="votingFormGenerationForm.voteMethod.$invalid && votingFormGenerationForm.$submitted">请选择投票方法.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group" ng-class="{'has-error': votingFormGenerationForm.documentType.$invalid && votingFormGenerationForm.$submitted}">
                                            <label class="col-lg-4 control-label">文档类型</label>
                                            <div class="col-lg-8">
                                                <ui-select ng-model="votingFormGenerationObj.DocumentType"
                                                    theme="bootstrap"
                                                    required
                                                    name="documentType"
                                                    reset-search-input="true"
                                                    title="请选择文档类型">
                                                    <ui-select-match placeholder="请选择文档类型">{{$select.selected.txt}}</ui-select-match>
                                                    <ui-select-choices repeat="documentType.val as documentType in selection.documentType  | filter: $select.search">
                                                        <div style=" word-wrap:break-word;white-space: normal;" ng-bind-html="documentType.txt | highlight: $select.search"></div>
                                                    </ui-select-choices> 
                                                </ui-select>
                                                <p class="help-block" ng-show="votingFormGenerationForm.documentType.$invalid && votingFormGenerationForm.$submitted">请选择文档类型.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
    
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>投票活动债权人名单</h5>
                            </div>
    
                            <div class="ibox-content">
    
                                <div class="table-responsive no-borders">
                                    <table class="table table-striped table-bordered">
    
                                        <tr>
                                            <th>债权人编号</th>
                                            <th>債权人名称</th>
                                            <th>类别</th>
                                            <th>有财产担保债权</th>
                                            <th>普通债权</th>
                                        </tr>
    
                                        <tr ng-repeat="votingFormGeneration in votingFormGenerationObj.VotingFormGenerationList">
                                            <td>{{votingFormGeneration.CreditorID}}</td>
                                            <td>{{votingFormGeneration.CreditorName}}</td>
                                            <td>{{displayField['attType'][votingFormGeneration.CreditorType]}}</td>
                                            <td>{{votingFormGeneration.PropertySecurity}}</td>
                                            <td>{{votingFormGeneration.OrdinaryCreditorRight}}</td>
                                        </tr>
    
                                        <tr ng-show="votingFormGenerationObj.VotingFormGenerationList.length == 0">
                                            <td colspan="5" style="text-align: center">{{GlobalSetting.NoRecordFound}}</td>
                                        </tr>
                                    </table>
                                </div>
    
                                <div class="clearfix">
                                    <button class="btn btn-primary pull-right" ng-click="generateInvitation()"><i class="fa fa-print"></i>&nbsp;&nbsp;产生</button>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                </div>
            </form>
    
    
    
        </div>
    
    
    
    
    </div>
    